/* .formToday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  margin-top: 15px;
  width: 50%;
}

th,
td:first-child {
  background:#171717;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
}
th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #d97706;
}
td {
  background:  #262626;
  color: rgb(255, 255, 255);
}

.seyf__today > input,
.seyf__today > span {
  display: block;
}

.seyf__today > input {
  width: 40%;
}

.seyf {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 20px;
}

.seyf__today {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span_recomended {
  color: white;
}