.wewe {
  display: flex;
  margin-top: 100px;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  max-height: 215px;
  text-align: center;
  background-color:#171717;
  border-radius: 25px;
  padding: 20px;
  margin-right: 100px;
  margin-left: 100px;
  
}

.btnCreateFinPlan {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #d97706;
  background-color: #262626;
  text-align: center;
  cursor: pointer;
  border: 1px solid #d97706;
  width: 130px;
  height: 110px;
  font-size: 60px;
  border-radius: 25px;
}
