.profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: auto;
  margin: auto;
  text-align: center;
  background-color: #171717;
  border-radius: 25px;
  padding: 20px;
}

.profileBox {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.infoBox {
  padding: 20px;
  max-width: 300px;
}

.photoOnAvatar {
  max-width: 500px !important;
  max-height: 500px !important;
  border-radius: 25px;
}

.input-file {
  position: relative;
  display: inline-block;
}
.input-file-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 6px;
  background-color:  #d97706;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}
.input-file-text {
  padding: 0 10px;
  line-height: 40px;
  display: inline-block;
}
.input-file input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */
.input-file input[type="file"]:focus + .input-file-btn {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Hover/active */
.input-file:hover .input-file-btn {
  background-color: rgba(39, 46, 44, 0.5);
}
.input-file:active .input-file-btn {
  background-color: rgba(13, 54, 44, 0.349);
}

/* Disabled */
.input-file input[type="file"]:disabled + .input-file-btn {
  background-color: #eee;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #262626;
  color: white;
  border-radius: 10px;
}

input:focus {
  outline: 1px solid  #d97706;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color:  #d97706;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}

button:hover,
a:hover {
  opacity: 0.7;
}
